<p>Benvolgut usuari/a,</p>
<p>La vostra petició s'ha processat correctament </p>
<p>Feu clic al següent enllaç per a descarregar-vos la cartografia sol·licitada:</p>
<p><strong><a title="Link: {_FILE_PATH_}" href="{_FILE_PATH_}" target="_blank" rel="nofollow">{_FILE_PATH_}</a></strong></p>
<p><em>La desc&agrave;rrega estar&agrave; disponible durant 24 hores.</em></p>
<p>&nbsp;</p>
<p>Atentament</p>
<p>Institut Cartogr&agrave;fic i Geol&ograve;gic de Catalunya</p>
<p>&nbsp;</p>
<p>Parc de Montju&iuml;c | E-08038 Barcelona | Tel. 93 567 15 00 (ext. 3328) | Fax 93 567 15 67<br /><a target="_blank" rel="nofollow">adre&ccedil;a_email@icgc.cat</a> | <a href="http://www.icgc.cat/" target="_blank" rel="nofollow">www.icgc.cat</a> | <a href="http://www.facebook.com/ICGCat" target="_blank" rel="nofollow">facebook.com/ICGCat</a> | <a href="http://twitter.com/ICGCat" target="_blank" rel="nofollow">twitter.com/ICGCat</a></p>
